.container h3 {
    font-size: 28px;
}

.container h4 {
    font-size: 18px;
    margin-top: 20px;
}

.inputs {
    height: 25px;
    width: 50px;
    margin-top: 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 4px;
}

.inputs2 {
    height: 25px;
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 4px;
}

input[type=text]:focus {
    width: 100px;
}

#brewedAfter {
    margin-left: 10px;
}

.buttons {
    position: relative;
    height: 30px;
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.buttons:hover {
    background-color: darkgrey;
    color: white;
}